 h1{
    color: white;
    text-align: center;
    font-size: 50px;
    border: 5px solid green;
    background-color: black;
    text-decoration: underline;
}
input{
    text-align:center;
    margin: 20px;
    height: 100px;
    width: 100px;
    border-radius:100px;
    border:2px solid black;
    font-size: 40px;

    
}
p{
    font-size: 30px;
    color:white;
    text-align: center;
    text-decoration: solid;
    text-transform: capitalize;
    font-weight: bold;
    background-color:black;
    border: 5px solid green;
    
}
body{
    background-color : lightyellow;
}

.btn button {
    font-size: 50px;       
    padding: 20px 40px;    
    border-radius: 10px;   
    cursor: pointer;       
    margin: 10px;          
    transition: transform 0.2s; 
}


.btn button:hover {
    transform: scale(1.2); 
    background-color: lightblue;
}



  
